In [1]:
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import KFold
import lightgbm as lgb
import xgboost as xgb
import numpy as np
import pandas as pd

import os
import sys
sys.path.append('C:\\Users\\yu886\\OneDrive\\デスクトップ\\github\\Sony\\src')

from Processing.load_dataset import Load_dataset

from Engineering.dummy import engin_2, engin

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error

import warnings
warnings.simplefilter('ignore', category=UserWarning)
import matplotlib.pyplot as plt
from Processing.processing import Submission

In [2]:
def add(df_train):
    df_train["co_avg"] = df_train["co_mid"] / df_train["co_cnt"]
    df_train["o3_avg"] = df_train["o3_mid"] / df_train["o3_cnt"]
    df_train["so2_avg"] = df_train["so2_mid"] / df_train["so2_cnt"]
    df_train["no2_avg"] = df_train["no2_mid"] / df_train["no2_cnt"]
    df_train["temperature_avg"] = df_train["temperature_mid"] / df_train["temperature_cnt"]
    df_train["humidity_avg"] = df_train["humidity_mid"] / df_train["humidity_cnt"]
    df_train["pressure_avg"] = df_train["pressure_mid"] / df_train["pressure_cnt"]
    df_train["ws_avg"] = df_train["ws_mid"] / df_train["ws_cnt"]
    df_train["dew_avg"] = df_train["dew_mid"] / df_train["dew_cnt"]
    return df_train

def add_2(df):
    df["discomfort"] = 0.81*df["temperature_mid"] + 0.01*df["humidity_mid"]*(0.99*df["temperature_mid"] - 14.3) + 46.3
    return df

def add_3(df):
    df["avg_count"] = (df_train["co_cnt"] + df_train["o3_cnt"] + df_train["so2_cnt"] + df_train["no2_cnt"] +
                       df_train["temperature_cnt"] + df_train["humidity_cnt"] + df_train["pressure_cnt"] + df_train["ws_cnt"] + df_train["dew_cnt"]) / 9
    return df

In [7]:
train, test = Load_dataset()

df_train = engin_2(train)
df_test = engin_2(test)

df_train = add(df_train)
df_test = add(df_test)

df_train = add_2(df_train)
df_test = add_2(df_test)

df_train = add_3(df_train)
df_test = add_3(df_test)

target = df_train["pm25_mid"]

df_train = df_train.drop(["id","pm25_mid"], axis=1)
df_test = df_test.drop(["id"], axis=1)

publisher_train = train['City']
unique_publisher = train['City'].unique()

In [8]:
FOLD = 5
NUM_ROUND = 10000
VERBOSE_EVAL = -1

params = {
    'objective': 'regression',
    'boosting_type': 'gbdt',
    'verbose': -1,
    'learning_rate':0.01
}

valid_scores = []
models = []

kf = KFold(n_splits=FOLD, shuffle=True, random_state=123)
for fold, (tr_group_idx, va_group_idx) in enumerate(kf.split(unique_publisher)):
    tr_groups, va_groups = unique_publisher[tr_group_idx], unique_publisher[va_group_idx]
    
    is_tr = publisher_train.isin(tr_groups)
    is_va = publisher_train.isin(va_groups)
    # ここでCityの情報を消したい
    
    X_train, X_valid = df_train[is_tr], df_train[is_va]
    y_train, y_valid = target[is_tr], target[is_va]
    
    X_train = X_train.drop("City" ,axis=1)
    X_valid = X_valid.drop("City" ,axis=1)
    
    lgb_train = lgb.Dataset(X_train, y_train)
    lgb_eval = lgb.Dataset(X_valid, y_valid)

    model = lgb.train(
        params,
        lgb_train,
        valid_sets=lgb_eval,
        num_boost_round=NUM_ROUND,
        verbose_eval=VERBOSE_EVAL
    )

    y_valid_pred = model.predict(X_valid)
    MSE = mean_squared_error(y_valid, y_valid_pred)
    r2 = r2_score(y_valid, y_valid_pred)
    MAE = mean_absolute_error(y_valid, y_valid_pred)
    
    print(f'fold {fold} MSE: {MSE} RMSE: {np.sqrt(MSE)} R^2: {r2} MAE: {MAE}')
    valid_scores.append(np.sqrt(MSE))
    models.append(model)

cv_score = np.mean(valid_scores)
print(f'CV score: {cv_score}')

fold 0 MSE: 433.65964670210286 RMSE: 20.824496313286975 R^2: 0.6273265696251071 MAE: 15.144815952647726
fold 1 MSE: 490.4381543630323 RMSE: 22.145838307976337 R^2: 0.6555928430461975 MAE: 16.036445026494356
fold 2 MSE: 466.7595585954529 RMSE: 21.60461891807983 R^2: 0.6451460579103949 MAE: 15.529845632290147
fold 3 MSE: 516.1983216573208 RMSE: 22.719998275909283 R^2: 0.6583782319676745 MAE: 16.527023843550708
fold 4 MSE: 621.7459240717869 RMSE: 24.934833548106692 R^2: 0.6951277199706589 MAE: 16.70520602034777
CV score: 22.445957072671824

In [12]:
train, test = Load_dataset()

df_train = engin_2(train)
df_test = engin_2(test)

target = df_train["pm25_mid"]

df_train = df_train.drop(["id","pm25_mid"], axis=1)
df_test = df_test.drop(["id"], axis=1)

publisher_train = train['City']
unique_publisher = train['City'].unique()

In [13]:
FOLD = 5
NUM_ROUND = 10000
VERBOSE_EVAL = -1

params = {
    'objective': 'regression',
    'boosting_type': 'gbdt',
    'verbose': -1,
    'learning_rate':0.01
}

valid_scores = []
models = []

kf = KFold(n_splits=FOLD, shuffle=True, random_state=123)
for fold, (tr_group_idx, va_group_idx) in enumerate(kf.split(unique_publisher)):
    tr_groups, va_groups = unique_publisher[tr_group_idx], unique_publisher[va_group_idx]
    
    is_tr = publisher_train.isin(tr_groups)
    is_va = publisher_train.isin(va_groups)
    # ここでCityの情報を消したい
    
    X_train, X_valid = df_train[is_tr], df_train[is_va]
    y_train, y_valid = target[is_tr], target[is_va]
    
    X_train = X_train.drop("City" ,axis=1)
    X_valid = X_valid.drop("City" ,axis=1)
    
    lgb_train = lgb.Dataset(X_train, y_train)
    lgb_eval = lgb.Dataset(X_valid, y_valid)

    model = lgb.train(
        params,
        lgb_train,
        valid_sets=lgb_eval,
        num_boost_round=NUM_ROUND,
        verbose_eval=VERBOSE_EVAL
    )

    y_valid_pred = model.predict(X_valid)
    MSE = mean_squared_error(y_valid, y_valid_pred)
    r2 = r2_score(y_valid, y_valid_pred)
    MAE = mean_absolute_error(y_valid, y_valid_pred)
    
    print(f'fold {fold} MSE: {MSE} RMSE: {np.sqrt(MSE)} R^2: {r2} MAE: {MAE}')
    valid_scores.append(np.sqrt(MSE))
    models.append(model)

cv_score = np.mean(valid_scores)
print(f'CV score: {cv_score}')

fold 0 MSE: 433.23946246968353 RMSE: 20.81440516732783 R^2: 0.6276876627092249 MAE: 15.134872706610516
fold 1 MSE: 484.79337842458307 RMSE: 22.01802394459101 R^2: 0.6595568519947416 MAE: 15.932107784315567
fold 2 MSE: 462.36774483543445 RMSE: 21.5027380776364 R^2: 0.6484849342054098 MAE: 15.457383564804662
fold 3 MSE: 508.1258808215025 RMSE: 22.541647695354982 R^2: 0.663720600191218 MAE: 16.4073247279028
fold 4 MSE: 613.3321222230056 RMSE: 24.765543043167973 R^2: 0.6992534164232453 MAE: 16.618186178742075
CV score: 22.32847158561564

In [7]:
# df_test = df_test.drop('City', axis=1)
pred_1 = models[0].predict(df_test)
pred_2 = models[1].predict(df_test)
pred_3 = models[2].predict(df_test)
pred_4 = models[3].predict(df_test)
pred_5 = models[4].predict(df_test)

pred = np.stack([pred_1, pred_2, pred_3 ,pred_4, pred_5], axis=1)
pred = np.mean(pred, axis=1)

index = test["id"]
Submission(index, pred, name='lgb_group_2')
pred

array([23.27969884, 39.04809959, 23.66257006, ..., 66.87592214,
       34.7394687 , 35.77972298])

# 外れ値除去

In [5]:
train, test = Load_dataset()

index = []
a = list(train[(train["co_min"]>=250)].index)
b = list(train[(train["co_mid"]>=200)].index)
c = list(train[(train["o3_mid"]>=200)].index)
d = list(train[(train["so2_min"]>=150)].index)
e = list(train[(train["so2_mid"]>=200)].index)
f = list(train[(train["no2_min"]>=100)].index)
g = list(train[(train["no2_mid"]>=400)].index)
h = list(train[(train["temperature_min"]>=40)].index)
i = list(train[(train["ws_mid"]>=40)].index)
j = list(train[(train["dew_var"]>=1400)].index)
index = a+b+c+d+e+f+g+h+i+j
index = list(set(index))
train.drop(index=index, axis=1)


df_train = engin_2(train)
df_test = engin_2(test)

df_train.drop(index=index, axis=1)

target = df_train["pm25_mid"]

df_train = df_train.drop(["id","pm25_mid"], axis=1)
df_test = df_test.drop(["id"], axis=1)

publisher_train = train['City']
unique_publisher = train['City'].unique()

# Optuna

In [13]:
import optuna.integration.lightgbm as lgb

In [ ]:
FOLD = 5
NUM_ROUND = 10000
VERBOSE_EVAL = -1

params = {
    'boosting_type': 'gbdt',
    'objective': 'regression',
    'metric': {'l2', 'l1'},
    'num_leaves': 50,
    'learning_rate': 0.05,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.8,
    'bagging_freq': 5,
    'vervose': 0
}

valid_scores = []
models = []

kf = KFold(n_splits=FOLD, shuffle=True, random_state=123)
for fold, (tr_group_idx, va_group_idx) in enumerate(kf.split(unique_publisher)):
    tr_groups, va_groups = unique_publisher[tr_group_idx], unique_publisher[va_group_idx]
    
    is_tr = publisher_train.isin(tr_groups)
    is_va = publisher_train.isin(va_groups)
    # ここでCityの情報を消したい
    
    X_train, X_valid = df_train[is_tr], df_train[is_va]
    y_train, y_valid = target[is_tr], target[is_va]
    
    X_train = X_train.drop("City" ,axis=1)
    X_valid = X_valid.drop("City" ,axis=1)
    
    lgb_train = lgb.Dataset(X_train, y_train)
    lgb_eval = lgb.Dataset(X_valid, y_valid)

    model = lgb.train(
        params,
        lgb_train,
        valid_sets=lgb_eval,
        num_boost_round=NUM_ROUND,
        verbose_eval=VERBOSE_EVAL
    )

    y_valid_pred = model.predict(X_valid)
    MSE = mean_squared_error(y_valid, y_valid_pred)
    r2 = r2_score(y_valid, y_valid_pred)
    MAE = mean_absolute_error(y_valid, y_valid_pred)
    
    print(f'fold {fold} MSE: {MSE} RMSE: {np.sqrt(MSE)} R^2: {r2} MAE: {MAE}')
    valid_scores.append(np.sqrt(MSE))
    models.append(model)

cv_score = np.mean(valid_scores)
print(f'CV score: {cv_score}')

# twest

In [2]:
train, test = Load_dataset()

df_train = engin_2(train)
df_test = engin_2(test)

target = df_train["pm25_mid"]

df_train = df_train.drop(["id","pm25_mid"], axis=1)
df_test = df_test.drop(["id"], axis=1)

publisher_train = train['City']
unique_publisher = train['City'].unique()

In [4]:
FOLD = 5
NUM_ROUND = 10000
VERBOSE_EVAL = -1

params = {
    'objective': 'regression',
    'boosting_type': 'gbdt',
    'verbose': -1,
    'learning_rate':0.01
}

valid_scores = []
models = []

kf = KFold(n_splits=FOLD, shuffle=True, random_state=123)
for fold, (tr_group_idx, va_group_idx) in enumerate(kf.split(unique_publisher)):
    tr_groups, va_groups = unique_publisher[tr_group_idx], unique_publisher[va_group_idx]
    
    is_tr = publisher_train.isin(tr_groups)
    is_va = publisher_train.isin(va_groups)
    # ここでCityの情報を消したい
    
    X_train, X_valid = df_train[is_tr], df_train[is_va]
    y_train, y_valid = target[is_tr], target[is_va]
    
    X_train = X_train.drop("City" ,axis=1)
    X_valid = X_valid.drop("City" ,axis=1)
    
    lgb_train = lgb.Dataset(X_train, y_train)
    lgb_eval = lgb.Dataset(X_valid, y_valid)

    model = lgb.train(
        params,
        lgb_train,
        valid_sets=lgb_eval,
        num_boost_round=NUM_ROUND,
        verbose_eval=VERBOSE_EVAL
    )

    y_valid_pred = model.predict(X_valid)
    MSE = mean_squared_error(y_valid, y_valid_pred)
    r2 = r2_score(y_valid, y_valid_pred)
    MAE = mean_absolute_error(y_valid, y_valid_pred)
    
    print(f'fold {fold} MSE: {MSE} RMSE: {np.sqrt(MSE)} R^2: {r2} MAE: {MAE}')
    valid_scores.append(np.sqrt(MSE))
    models.append(model)

cv_score = np.mean(valid_scores)
print(f'CV score: {cv_score}')

fold 0 MSE: 433.2742088027439 RMSE: 20.815239820927932 R^2: 0.6276578028058815 MAE: 15.127949267609116
fold 1 MSE: 484.8196701743738 RMSE: 22.018620987118467 R^2: 0.6595383887762578 MAE: 15.933691388699774
fold 2 MSE: 462.8362746632746 RMSE: 21.513629974118142 R^2: 0.6481287344161737 MAE: 15.460176242064172
fold 3 MSE: 506.1455462154293 RMSE: 22.497678685042803 R^2: 0.6650311922273375 MAE: 16.385682186264603
fold 4 MSE: 611.8949709411876 RMSE: 24.736510888587087 R^2: 0.6999581216268846 MAE: 16.607792667936415
CV score: 22.316336071158887

In [10]:
# df_test = df_test.drop('City', axis=1)
pred_1 = models[0].predict(df_test)
pred_2 = models[1].predict(df_test)
pred_3 = models[2].predict(df_test)
pred_4 = models[3].predict(df_test)
pred_5 = models[4].predict(df_test)

pred = np.stack([pred_1, pred_2, pred_3 ,pred_4, pred_5], axis=1)
pred = np.mean(pred, axis=1)

index = test["id"]
Submission(index, pred, name='lgb_group_3')
pred

array([27.38051623, 38.83449391, 23.47738366, ..., 66.69708225,
       34.7743657 , 36.07596373])

In [7]:
df_train = add_2(df_train)
df_test = add_2(df_test)

df_train = add_3(df_train)
df_test = add_3(df_test)

In [8]:
FOLD = 5
NUM_ROUND = 10000
VERBOSE_EVAL = -1

params = {
    'objective': 'regression',
    'boosting_type': 'gbdt',
    'verbose': -1,
    'learning_rate':0.01
}

valid_scores = []
models = []

kf = KFold(n_splits=FOLD, shuffle=True, random_state=123)
for fold, (tr_group_idx, va_group_idx) in enumerate(kf.split(unique_publisher)):
    tr_groups, va_groups = unique_publisher[tr_group_idx], unique_publisher[va_group_idx]
    
    is_tr = publisher_train.isin(tr_groups)
    is_va = publisher_train.isin(va_groups)
    # ここでCityの情報を消したい
    
    X_train, X_valid = df_train[is_tr], df_train[is_va]
    y_train, y_valid = target[is_tr], target[is_va]
    
    X_train = X_train.drop("City" ,axis=1)
    X_valid = X_valid.drop("City" ,axis=1)
    
    lgb_train = lgb.Dataset(X_train, y_train)
    lgb_eval = lgb.Dataset(X_valid, y_valid)

    model = lgb.train(
        params,
        lgb_train,
        valid_sets=lgb_eval,
        num_boost_round=NUM_ROUND,
        verbose_eval=VERBOSE_EVAL
    )

    y_valid_pred = model.predict(X_valid)
    MSE = mean_squared_error(y_valid, y_valid_pred)
    r2 = r2_score(y_valid, y_valid_pred)
    MAE = mean_absolute_error(y_valid, y_valid_pred)
    
    print(f'fold {fold} MSE: {MSE} RMSE: {np.sqrt(MSE)} R^2: {r2} MAE: {MAE}')
    valid_scores.append(np.sqrt(MSE))
    models.append(model)

cv_score = np.mean(valid_scores)
print(f'CV score: {cv_score}')

fold 0 MSE: 433.016001535848 RMSE: 20.809036535501782 R^2: 0.6278796979917343 MAE: 15.125593533275458
fold 1 MSE: 485.64518627653797 RMSE: 22.0373588770646 R^2: 0.6589586752053689 MAE: 15.954829472971637
fold 2 MSE: 464.49595710189993 RMSE: 21.552168269153338 R^2: 0.6468669608860604 MAE: 15.483612288087237
fold 3 MSE: 511.1409750929699 RMSE: 22.608427081355526 R^2: 0.6617252007631537 MAE: 16.461441493225
fold 4 MSE: 618.4209698333672 RMSE: 24.868071292992692 R^2: 0.6967581068222874 MAE: 16.66996016907186
CV score: 22.37501241121359

In [3]:
import sklearn.preprocessing as preproc

In [4]:
train, test = Load_dataset()

df_train = engin_2(train)
df_test = engin_2(test)

target = df_train["pm25_mid"]

df_train = df_train.drop(["id","pm25_mid"], axis=1)
df_test = df_test.drop(["id"], axis=1)

publisher_train = train['City']
unique_publisher = train['City'].unique()

In [5]:
pos = ['co_min', 'co_mid', 'co_max','o3_min',
       'o3_mid', 'o3_max', 'so2_min', 'so2_mid', 'so2_max',
       'no2_min', 'no2_mid', 'no2_max',
       'temperature_min', 'temperature_mid', 'temperature_max',
       'humidity_min', 'humidity_mid', 'humidity_max',
       'pressure_min', 'pressure_mid', 'pressure_max', 'ws_min',
       'ws_mid', 'ws_max', 'dew_min', 'dew_mid', 'dew_max']

X1 = df_train[pos]

# ペアワイズ交互作用特徴量
X2 = preproc.PolynomialFeatures(include_bias=False).fit_transform(X1)

In [6]:
print(f'生成後の列数: {X1.shape[1]}')
print(f'生成後の列数: {X2.shape[1]}')

生成後の列数: 27
生成後の列数: 405

In [7]:
train, test = Load_dataset()

df_train = engin_2(train)
df_test = engin_2(test)

target = df_train["pm25_mid"]

df_train = df_train.drop(["id","pm25_mid"], axis=1)
df_test = df_test.drop(["id"], axis=1)

publisher_train = train['City']
unique_publisher = train['City'].unique()

In [12]:
df_train = df_train.drop(col, axis=1)
X2 = pd.DataFrame(X2).T

df_train = pd.concat([df_train, X2], axis=1)

Index(['City', 'co_cnt', 'o3_cnt', 'so2_cnt', 'no2_cnt', 'temperature_cnt',
       'humidity_cnt', 'pressure_cnt', 'ws_cnt', 'dew_cnt', 'month_1',
       'month_2', 'month_3', 'month_4', 'month_5', 'month_6', 'month_7',
       'month_8', 'month_9', 'month_10', 'month_11', 'month_12', 'year_2019',
       'year_2020', 'year_2021', 'Australia', 'Belgium',
       'Bosnia and Herzegovina', 'Brazil', 'Canada', 'Chile', 'China',
       'Croatia', 'France', 'Germany', 'Hungary', 'India', 'Iran', 'Israel',
       'Italy', 'Japan', 'Mexico', 'Netherlands', 'Poland', 'Russia', 'Serbia',
       'South Africa', 'South Korea', 'Spain', 'Taiwan', 'Thailand', 'Turkey',
       'United Kingdom', 'United States', 'Vietnam', 'co_std', 'o3_std',
       'so2_std', 'no2_std', 'temperature_std', 'humidity_std', 'pressure_std',
       'ws_std', 'dew_std'],
      dtype='object')

In [15]:
X2 = pd.DataFrame(X2).T
df_train = pd.concat([df_train, X2], axis=1)

In [16]:
df_train

,City,co_cnt,o3_cnt,so2_cnt,no2_cnt,temperature_cnt,humidity_cnt,pressure_cnt,ws_cnt,dew_cnt,...,395,396,397,398,399,400,401,402,403,404
0,Brisbane,38,29,11,36,36,45,59,42,17,...,9.616201,23.787771,32.120158,46.862312,58.844241,79.456218,115.924152,107.288164,156.530096,228.372544
1,Darwin,47,49,31,45,71,50,69,48,62,...,54.700816,157.712304,176.120948,179.138516,454.712976,507.788412,516.488604,567.058969,576.774673,586.656841
2,Melbourne,17,123,36,111,148,138,153,125,22,...,65.431921,83.389501,106.232837,124.748558,106.275481,135.388097,158.985398,172.475689,202.537126,237.838084
3,Newcastle,63,90,50,176,101,111,141,52,116,...,12.902464,25.668432,38.380520,47.931648,51.065316,76.355010,95.356224,114.169225,142.580640,178.062336
4,Perth,47,83,47,80,55,155,124,102,93,...,11.532816,3.705036,11.128692,41.675712,1.190281,3.575207,13.388752,10.738729,40.215344,150.601984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195936,Jacksonville,12,26,8,26,40,48,55,22,12,...,37.515625,102.740750,138.908875,159.605250,281.367076,380.417546,437.096892,514.337041,590.969382,679.019364
195937,Las Vegas,14,8,9,31,51,55,67,51,12,...,47.073321,71.573952,101.138001,108.589047,108.826624,153.778112,165.107264,217.297081,233.305807,250.493929
195938,Milwaukee,171,112,120,66,170,91,194,125,26,...,6.646084,5.282322,9.102918,17.236508,4.198401,7.235019,13.699614,12.467961,23.608266,44.702596
195939,Hanoi,31,108,27,149,290,260,293,266,51,...,36.060025,11.541610,44.695215,46.334580,3.694084,14.305446,14.830152,55.398249,57.430188,59.536656
195940,Hạ Long,26,20,10,51,55,71,70,32,16,...,11.641744,28.824576,35.389264,64.439032,71.368704,87.622656,159.548928,107.578384,195.885592,356.680996

In [ ]:
FOLD = 5
NUM_ROUND = 10000
VERBOSE_EVAL = -1

params = {
    'objective': 'regression',
    'boosting_type': 'gbdt',
    'verbose': -1,
    'learning_rate':0.01
}

valid_scores = []
models = []

kf = KFold(n_splits=FOLD, shuffle=True, random_state=123)
for fold, (tr_group_idx, va_group_idx) in enumerate(kf.split(unique_publisher)):
    tr_groups, va_groups = unique_publisher[tr_group_idx], unique_publisher[va_group_idx]
    
    is_tr = publisher_train.isin(tr_groups)
    is_va = publisher_train.isin(va_groups)
    # ここでCityの情報を消したい
    
    X_train, X_valid = df_train[is_tr], df_train[is_va]
    y_train, y_valid = target[is_tr], target[is_va]
    
    X_train = X_train.drop("City" ,axis=1)
    X_valid = X_valid.drop("City" ,axis=1)
    
    lgb_train = lgb.Dataset(X_train, y_train)
    lgb_eval = lgb.Dataset(X_valid, y_valid)

    model = lgb.train(
        params,
        lgb_train,
        valid_sets=lgb_eval,
        num_boost_round=NUM_ROUND,
        verbose_eval=VERBOSE_EVAL
    )

    y_valid_pred = model.predict(X_valid)
    MSE = mean_squared_error(y_valid, y_valid_pred)
    r2 = r2_score(y_valid, y_valid_pred)
    MAE = mean_absolute_error(y_valid, y_valid_pred)
    
    print(f'fold {fold} MSE: {MSE} RMSE: {np.sqrt(MSE)} R^2: {r2} MAE: {MAE}')
    valid_scores.append(np.sqrt(MSE))
    models.append(model)

cv_score = np.mean(valid_scores)
print(f'CV score: {cv_score}')

In [3]:
from sklearn.preprocessing import OneHotEncoder
import category_encoders as ce

In [5]:
train, test = Load_dataset()
train.columns

Index(['id', 'year', 'month', 'day', 'Country', 'City', 'lat', 'lon', 'co_cnt',
       'co_min', 'co_mid', 'co_max', 'co_var', 'o3_cnt', 'o3_min', 'o3_mid',
       'o3_max', 'o3_var', 'so2_cnt', 'so2_min', 'so2_mid', 'so2_max',
       'so2_var', 'no2_cnt', 'no2_min', 'no2_mid', 'no2_max', 'no2_var',
       'temperature_cnt', 'temperature_min', 'temperature_mid',
       'temperature_max', 'temperature_var', 'humidity_cnt', 'humidity_min',
       'humidity_mid', 'humidity_max', 'humidity_var', 'pressure_cnt',
       'pressure_min', 'pressure_mid', 'pressure_max', 'pressure_var',
       'ws_cnt', 'ws_min', 'ws_mid', 'ws_max', 'ws_var', 'dew_cnt', 'dew_min',
       'dew_mid', 'dew_max', 'dew_var', 'pm25_mid'],
      dtype='object')

In [28]:
train, test = Load_dataset()
col = ['id', 'year', 'month','Country', 'day', 'lat', 'lon','pm25_mid']

x = train["Country"]
target = train["pm25_mid"]
encoder = ce.OneHotEncoder(use_cat_names = True)
encoder = ce.TargetEncoder()
encoder.fit(x, target)
x_train_enc = encoder.transform(x)

df_train = train.drop(columns=col, axis=1)
df_test = test.drop(["id"], axis=1)

publisher_train = train['City']
unique_publisher = train['City'].unique()

df_train["target_Country"] = x_train_enc
df_train.head()

,City,co_cnt,co_min,co_mid,co_max,co_var,o3_cnt,o3_min,o3_mid,o3_max,...,ws_min,ws_mid,ws_max,ws_var,dew_cnt,dew_min,dew_mid,dew_max,dew_var,target_Country
0,Brisbane,38,0.749,2.590,2.633,0.850,29,2.397,4.295,5.916,...,0.241,1.088,3.101,1.983,17,7.671,10.358,15.112,13.424,37.362265
1,Darwin,47,2.594,3.181,4.828,1.208,49,3.092,7.572,12.332,...,0.828,3.473,7.396,10.411,62,21.324,23.813,24.221,2.021,37.362265
2,Melbourne,17,1.190,1.197,2.200,0.248,123,0.736,12.527,23.432,...,0.000,2.107,8.089,15.719,22,10.309,13.133,15.422,6.355,37.362265
3,Newcastle,63,4.586,11.044,14.802,24.186,90,1.917,14.141,38.374,...,0.284,0.503,3.592,2.485,116,7.146,10.685,13.344,9.417,37.362265
4,Perth,47,4.689,8.681,11.100,10.011,83,0.349,2.349,38.600,...,0.500,0.755,3.396,1.937,93,1.091,3.277,12.272,4.109,37.362265

In [19]:
FOLD = 5
NUM_ROUND = 10000
VERBOSE_EVAL = -1

params = {
    'objective': 'regression',
    'boosting_type': 'gbdt',
    'verbose': -1,
    'learning_rate':0.01
}

valid_scores = []
models = []

kf = KFold(n_splits=FOLD, shuffle=True, random_state=123)
for fold, (tr_group_idx, va_group_idx) in enumerate(kf.split(unique_publisher)):
    tr_groups, va_groups = unique_publisher[tr_group_idx], unique_publisher[va_group_idx]
    
    is_tr = publisher_train.isin(tr_groups)
    is_va = publisher_train.isin(va_groups)
    # ここでCityの情報を消したい
    
    X_train, X_valid = df_train[is_tr], df_train[is_va]
    y_train, y_valid = target[is_tr], target[is_va]
    
    X_train = X_train.drop("City" ,axis=1)
    X_valid = X_valid.drop("City" ,axis=1)
    
    lgb_train = lgb.Dataset(X_train, y_train)
    lgb_eval = lgb.Dataset(X_valid, y_valid)

    model = lgb.train(
        params,
        lgb_train,
        valid_sets=lgb_eval,
        num_boost_round=NUM_ROUND,
        verbose_eval=VERBOSE_EVAL
    )

    y_valid_pred = model.predict(X_valid)
    MSE = mean_squared_error(y_valid, y_valid_pred)
    r2 = r2_score(y_valid, y_valid_pred)
    MAE = mean_absolute_error(y_valid, y_valid_pred)
    
    print(f'fold {fold} MSE: {MSE} RMSE: {np.sqrt(MSE)} R^2: {r2} MAE: {MAE}')
    valid_scores.append(np.sqrt(MSE))
    models.append(model)

cv_score = np.mean(valid_scores)
print(f'CV score: {cv_score}')

fold 0 MSE: 447.5931674160084 RMSE: 21.156397789226983 R^2: 0.6153525411418486 MAE: 15.386883491436276
fold 1 MSE: 500.61645071021456 RMSE: 22.37445978588566 R^2: 0.6484451974636078 MAE: 16.169900989174188
fold 2 MSE: 475.3442242791528 RMSE: 21.802390334070086 R^2: 0.6386195660511838 MAE: 15.690067989444396
fold 3 MSE: 522.5582214049183 RMSE: 22.859532396899947 R^2: 0.6541692291384771 MAE: 16.651120336843082
fold 4 MSE: 589.582200927302 RMSE: 24.281313822099946 R^2: 0.7108991584789706 MAE: 16.53717935803267
CV score: 22.494818825636525

# 5/4

In [57]:
train, test = Load_dataset()
col = ['id', 'year', 'month','Country', 'day', 'lat', 'lon','pm25_mid','co_var', 'o3_var','so2_var', 'no2_var',
                'temperature_var', 'humidity_var', 'pressure_var','ws_var','dew_var']

x = train["Country"]
target = train["pm25_mid"]
encoder = ce.OneHotEncoder(use_cat_names = True)
encoder = ce.TargetEncoder()
encoder.fit(x, target)
x_train_enc = encoder.transform(x)

month = pd.get_dummies(train['month'], prefix="month")
train = pd.concat([train, month], axis=1)

# year
year = pd.get_dummies(train['year'], prefix="year")
train = pd.concat([train, year], axis=1)

train["co_std"] = np.sqrt(train["co_var"])
train["o3_std"] = np.sqrt(train["o3_var"])
train["so2_std"] = np.sqrt(train["so2_var"])
train["no2_std"] = np.sqrt(train["no2_var"])
train["temperature_std"] = np.sqrt(train["temperature_var"])
train["humidity_std"] = np.sqrt(train["humidity_var"])
train["pressure_std"] = np.sqrt(train["pressure_var"])
train["ws_std"] = np.sqrt(train["ws_var"])
train["dew_std"] = np.sqrt(train["dew_var"])

df_train = train.drop(columns=col, axis=1)
df_test = test.drop(["id"], axis=1)

publisher_train = train['City']
unique_publisher = train['City'].unique()

df_train["target_Country"] = x_train_enc
df_train.head()

,City,co_cnt,co_min,co_mid,co_max,o3_cnt,o3_min,o3_mid,o3_max,so2_cnt,...,co_std,o3_std,so2_std,no2_std,temperature_std,humidity_std,pressure_std,ws_std,dew_std,target_Country
0,Brisbane,38,0.749,2.590,2.633,29,2.397,4.295,5.916,11,...,0.921954,1.736951,0.370135,1.080278,4.886717,31.528574,9.465094,1.408190,3.663878,37.362265
1,Darwin,47,2.594,3.181,4.828,49,3.092,7.572,12.332,31,...,1.099091,4.530342,7.845381,2.530020,6.109583,21.612774,2.705550,3.226608,1.421619,37.362265
2,Melbourne,17,1.190,1.197,2.200,123,0.736,12.527,23.432,36,...,0.497996,11.190353,22.706167,5.524310,11.457748,35.947058,68.230111,3.964719,2.520913,37.362265
3,Newcastle,63,4.586,11.044,14.802,90,1.917,14.141,38.374,50,...,4.917926,17.456546,5.062608,4.569792,1.785497,9.221063,3.301212,1.576388,3.068713,37.362265
4,Perth,47,4.689,8.681,11.100,83,0.349,2.349,38.600,47,...,3.164016,18.802899,3.038750,8.619629,1.520197,22.004272,3.891272,1.391761,2.027067,37.362265

In [ ]:
FOLD = 5
NUM_ROUND = 20000
VERBOSE_EVAL = 1000

params = {
    'objective': 'regression',
    'boosting_type': 'gbdt',
    'verbose': -1,
    'learning_rate':0.01,
    'metric': "rmse",
    'num_leaves':7,
}

valid_scores = []
models = []

kf = KFold(n_splits=FOLD, shuffle=True, random_state=123)
for fold, (tr_group_idx, va_group_idx) in enumerate(kf.split(unique_publisher)):
    tr_groups, va_groups = unique_publisher[tr_group_idx], unique_publisher[va_group_idx]
    
    is_tr = publisher_train.isin(tr_groups)
    is_va = publisher_train.isin(va_groups)
    # ここでCityの情報を消したい
    
    X_train, X_valid = df_train[is_tr], df_train[is_va]
    y_train, y_valid = target[is_tr], target[is_va]
    
    X_train = X_train.drop("City" ,axis=1)
    X_valid = X_valid.drop("City" ,axis=1)
    
    lgb_train = lgb.Dataset(X_train, y_train)
    lgb_eval = lgb.Dataset(X_valid, y_valid)

    model = lgb.train(
        params,
        lgb_train,
        valid_sets=lgb_eval,
        num_boost_round=NUM_ROUND,
        verbose_eval=VERBOSE_EVAL,
    )

    y_valid_pred = model.predict(X_valid)
    MSE = mean_squared_error(y_valid, y_valid_pred)
    r2 = r2_score(y_valid, y_valid_pred)
    MAE = mean_absolute_error(y_valid, y_valid_pred)
    
#     print(f'fold {fold} MSE: {MSE} RMSE: {np.sqrt(MSE)} R^2: {r2} MAE: {MAE}')
    valid_scores.append(np.sqrt(MSE))
    models.append(model)

cv_score = np.mean(valid_scores)
print(f'CV score: {cv_score}')

In [61]:
train, test = Load_dataset()
y = test["Country"]
test_enc = encoder.transform(y)
month = pd.get_dummies(test['month'], prefix="month")
test = pd.concat([test, month], axis=1)

# year
year = pd.get_dummies(test['year'], prefix="year")
test = pd.concat([test, year], axis=1)

test["co_std"] = np.sqrt(test["co_var"])
test["o3_std"] = np.sqrt(test["o3_var"])
test["so2_std"] = np.sqrt(test["so2_var"])
test["no2_std"] = np.sqrt(test["no2_var"])
test["temperature_std"] = np.sqrt(test["temperature_var"])
test["humidity_std"] = np.sqrt(test["humidity_var"])
test["pressure_std"] = np.sqrt(test["pressure_var"])
test["ws_std"] = np.sqrt(test["ws_var"])
test["dew_std"] = np.sqrt(test["dew_var"])

test["target_Country"] = test_enc

col = ['id', 'year', 'month','Country','City', 'day', 'lat', 'lon','co_var', 'o3_var','so2_var', 'no2_var',
                'temperature_var', 'humidity_var', 'pressure_var','ws_var','dew_var']

df_test = test.drop(columns=col, axis=1)

In [62]:
# df_test = df_test.drop('City', axis=1)
pred_1 = models[0].predict(df_test)
pred_2 = models[1].predict(df_test)
pred_3 = models[2].predict(df_test)
pred_4 = models[3].predict(df_test)
pred_5 = models[4].predict(df_test)

pred = np.stack([pred_1, pred_2, pred_3 ,pred_4, pred_5], axis=1)
pred = np.mean(pred, axis=1)

index = test["id"]
Submission(index, pred, name='lgb_group_5')
pred

array([21.13701951, 39.88826655, 25.12709809, ..., 67.36694881,
       34.07951581, 37.33427297])

# XGBOOST

In [54]:
FOLD = 5
NUM_ROUND = 10000
VERBOSE_EVAL = 2000

params = {
    'objective': 'reg:squarederror',
    'eval_metric': 'rmse',
    'learning_rate':0.01,
    'max_depth':8,
}

valid_scores = []
models = []

kf = KFold(n_splits=FOLD, shuffle=True, random_state=123)
for fold, (tr_group_idx, va_group_idx) in enumerate(kf.split(unique_publisher)):
    tr_groups, va_groups = unique_publisher[tr_group_idx], unique_publisher[va_group_idx]
    
    is_tr = publisher_train.isin(tr_groups)
    is_va = publisher_train.isin(va_groups)
    # ここでCityの情報を消したい
    
    X_train, X_valid = df_train[is_tr], df_train[is_va]
    y_train, y_valid = target[is_tr], target[is_va]
    
    X_train = X_train.drop("City" ,axis=1)
    X_valid = X_valid.drop("City" ,axis=1)
    
    dtrain = xgb.DMatrix(X_train, label=y_train)
    dtest = xgb.DMatrix(X_valid, label=y_valid)
    evals = [(dtrain, 'train'), (dtest, 'eval')]

    model = xgb.train(params,
                      dtrain,
                      num_boost_round=NUM_ROUND,
                      evals=evals,
                      early_stopping_rounds=20,
                      verbose_eval=200,
                      early_stopping_rounds=100
                      )

    dm_valid = xgb.DMatrix(X_valid)
    y_valid_pred = model.predict(dm_valid)

    MSE = mean_squared_error(y_valid, y_valid_pred)
    r2 = r2_score(y_valid, y_valid_pred)
    MAE = mean_absolute_error(y_valid, y_valid_pred)
    
    print(f'fold {fold} MSE: {MSE} RMSE: {np.sqrt(MSE)} R^2: {r2} MAE: {MAE}')
    valid_scores.append(np.sqrt(MSE))
    models.append(model)

cv_score = np.mean(valid_scores)
print(f'CV score: {cv_score}')

[0]	train-rmse:70.56788	eval-rmse:65.77244
[200]	train-rmse:22.51099	eval-rmse:23.84594
[400]	train-rmse:18.95988	eval-rmse:21.81992
[600]	train-rmse:18.05366	eval-rmse:21.54024
[800]	train-rmse:17.45965	eval-rmse:21.42659
[1000]	train-rmse:16.98814	eval-rmse:21.36126
[1200]	train-rmse:16.54659	eval-rmse:21.29507
[1400]	train-rmse:16.19718	eval-rmse:21.25590
[1600]	train-rmse:15.85984	eval-rmse:21.22127
[1800]	train-rmse:15.60401	eval-rmse:21.19684
[2000]	train-rmse:15.34544	eval-rmse:21.17807
[2200]	train-rmse:15.09678	eval-rmse:21.16099
[2241]	train-rmse:15.05523	eval-rmse:21.16198
fold 0 MSE: 447.8293574310422 RMSE: 21.161979052797548 R^2: 0.615149566888209 MAE: 15.345377488080656
[0]	train-rmse:70.23451	eval-rmse:66.46185
[200]	train-rmse:22.57501	eval-rmse:23.80139
[400]	train-rmse:19.03184	eval-rmse:22.18864
[600]	train-rmse:18.13472	eval-rmse:22.03126
[800]	train-rmse:17.54416	eval-rmse:21.95849
[881]	train-rmse:17.34266	eval-rmse:21.94779
fold 1 MSE: 481.6937223921182 RMSE: 21.947522010288957 R^2: 0.6617335662494929 MAE: 15.874599534801371
[0]	train-rmse:70.16402	eval-rmse:67.63050
[200]	train-rmse:22.36927	eval-rmse:24.49721
[400]	train-rmse:18.81846	eval-rmse:22.16340
[600]	train-rmse:17.95508	eval-rmse:21.87687
[800]	train-rmse:17.33285	eval-rmse:21.74032
[1000]	train-rmse:16.78392	eval-rmse:21.64952
[1200]	train-rmse:16.36202	eval-rmse:21.60178
[1400]	train-rmse:16.02179	eval-rmse:21.57325
[1600]	train-rmse:15.72759	eval-rmse:21.55027
[1800]	train-rmse:15.44352	eval-rmse:21.52887
[2000]	train-rmse:15.20021	eval-rmse:21.51255
[2200]	train-rmse:14.95302	eval-rmse:21.49521
[2220]	train-rmse:14.93265	eval-rmse:21.49593
fold 2 MSE: 462.0753234518612 RMSE: 21.49593737085827 R^2: 0.648707247554545 MAE: 15.479049811379964
[0]	train-rmse:68.99599	eval-rmse:71.75734
[200]	train-rmse:22.25211	eval-rmse:24.82635
[400]	train-rmse:18.75474	eval-rmse:23.00268
[600]	train-rmse:17.87904	eval-rmse:22.77370
[800]	train-rmse:17.26413	eval-rmse:22.64620
[1000]	train-rmse:16.77202	eval-rmse:22.58707
[1200]	train-rmse:16.34296	eval-rmse:22.54998
[1400]	train-rmse:15.96746	eval-rmse:22.51499
[1600]	train-rmse:15.62710	eval-rmse:22.49043
[1800]	train-rmse:15.32147	eval-rmse:22.47860
[2000]	train-rmse:15.07094	eval-rmse:22.46233
[2078]	train-rmse:14.98277	eval-rmse:22.45708
fold 3 MSE: 504.33022297166804 RMSE: 22.45729776646487 R^2: 0.666232579194449 MAE: 16.350801546059667
[0]	train-rmse:68.07677	eval-rmse:75.94033
[200]	train-rmse:22.19340	eval-rmse:28.10537
[400]	train-rmse:18.78250	eval-rmse:24.60969
[600]	train-rmse:17.89164	eval-rmse:24.11458
[800]	train-rmse:17.36233	eval-rmse:23.94214
[917]	train-rmse:17.09563	eval-rmse:23.90632
fold 4 MSE: 571.5123375473507 RMSE: 23.906324216561416 R^2: 0.7197596917533767 MAE: 16.370269874450113
CV score: 22.193812083394214

In [55]:
# df_test = df_test.drop('City', axis=1)
df_test_xgb = xgb.DMatrix(df_test)
pred_1 = models[0].predict(df_test_xgb)
pred_2 = models[1].predict(df_test_xgb)
pred_3 = models[2].predict(df_test_xgb)
pred_4 = models[3].predict(df_test_xgb)
pred_5 = models[4].predict(df_test_xgb)

pred = np.stack([pred_1, pred_2, pred_3 ,pred_4, pred_5], axis=1)
pred = np.mean(pred, axis=1)

index = test["id"]
Submission(index, pred, name='xgb_group_2')
pred

array([24.484364, 38.88862 , 23.337006, ..., 67.44804 , 33.482067,
       39.289974], dtype=float32)

In [65]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor

In [71]:
train, test = Load_dataset()
col = ['id', 'year', 'month','Country', 'day', 'lat', 'lon','pm25_mid','co_var', 'o3_var','so2_var', 'no2_var',
                'temperature_var', 'humidity_var', 'pressure_var','ws_var','dew_var']

x = train["Country"]
target = train["pm25_mid"]
encoder = ce.OneHotEncoder(use_cat_names = True)
encoder = ce.TargetEncoder()
encoder.fit(x, target)
x_train_enc = encoder.transform(x)

month = pd.get_dummies(train['month'], prefix="month")
train = pd.concat([train, month], axis=1)

# year
year = pd.get_dummies(train['year'], prefix="year")
train = pd.concat([train, year], axis=1)

train["co_std"] = np.sqrt(train["co_var"])
train["o3_std"] = np.sqrt(train["o3_var"])
train["so2_std"] = np.sqrt(train["so2_var"])
train["no2_std"] = np.sqrt(train["no2_var"])
train["temperature_std"] = np.sqrt(train["temperature_var"])
train["humidity_std"] = np.sqrt(train["humidity_var"])
train["pressure_std"] = np.sqrt(train["pressure_var"])
train["ws_std"] = np.sqrt(train["ws_var"])
train["dew_std"] = np.sqrt(train["dew_var"])

df_train = train.drop(columns=col, axis=1)
df_test = test.drop(["id"], axis=1)

publisher_train = train['City']
unique_publisher = train['City'].unique()

df_train["target_Country"] = x_train_enc
df_train.head()

,City,co_cnt,co_min,co_mid,co_max,o3_cnt,o3_min,o3_mid,o3_max,so2_cnt,...,co_std,o3_std,so2_std,no2_std,temperature_std,humidity_std,pressure_std,ws_std,dew_std,target_Country
0,Brisbane,38,0.749,2.590,2.633,29,2.397,4.295,5.916,11,...,0.921954,1.736951,0.370135,1.080278,4.886717,31.528574,9.465094,1.408190,3.663878,37.362265
1,Darwin,47,2.594,3.181,4.828,49,3.092,7.572,12.332,31,...,1.099091,4.530342,7.845381,2.530020,6.109583,21.612774,2.705550,3.226608,1.421619,37.362265
2,Melbourne,17,1.190,1.197,2.200,123,0.736,12.527,23.432,36,...,0.497996,11.190353,22.706167,5.524310,11.457748,35.947058,68.230111,3.964719,2.520913,37.362265
3,Newcastle,63,4.586,11.044,14.802,90,1.917,14.141,38.374,50,...,4.917926,17.456546,5.062608,4.569792,1.785497,9.221063,3.301212,1.576388,3.068713,37.362265
4,Perth,47,4.689,8.681,11.100,83,0.349,2.349,38.600,47,...,3.164016,18.802899,3.038750,8.619629,1.520197,22.004272,3.891272,1.391761,2.027067,37.362265

In [ ]:
kf = KFold(n_splits=FOLD, shuffle=True, random_state=123)
for fold, (tr_group_idx, va_group_idx) in enumerate(kf.split(unique_publisher)):
    tr_groups, va_groups = unique_publisher[tr_group_idx], unique_publisher[va_group_idx]
    
    is_tr = publisher_train.isin(tr_groups)
    is_va = publisher_train.isin(va_groups)
    # ここでCityの情報を消したい
    
    # train
    X_train, X_valid = df_train[is_tr], df_train[is_va]
    # test
    y_train, y_valid = target[is_tr], target[is_va]
    
    X_train = X_train.drop("City" ,axis=1)
    X_valid = X_valid.drop("City" ,axis=1)
    
    
    params = {'n_estimators'  : [3, 10, 100, 1000, 10000], 'n_jobs': [-1]}
    mod = RandomForestRegressor()
    model = GridSearchCV(mod, params, cv = 5, scoring= 'neg_mean_squared_error', n_jobs =1)
    model.fit(X_train, y_train)    
    

    y_valid_pred = model.predict(X_valid)

    MSE = mean_squared_error(y_valid, y_valid_pred)
    r2 = r2_score(y_valid, y_valid_pred)
    MAE = mean_absolute_error(y_valid, y_valid_pred)
    
    print(f'fold {fold} MSE: {MSE} RMSE: {np.sqrt(MSE)} R^2: {r2} MAE: {MAE}')
    valid_scores.append(np.sqrt(MSE))
    models.append(model)

In [ ]:
params = {'n_estimators'  : [3, 10, 100, 1000, 10000], 'n_jobs': [-1]}
mod = RandomForestRegressor()
model = GridSearchCV(mod, params, cv = 5, scoring= 'neg_mean_squared_error', n_jobs =1)
model.fit(X_train, y_train)
y_valid_pred = model.predict(X_valid)
MSE = mean_squared_error(y_valid, y_valid_pred)
r2 = r2_score(y_valid, y_valid_pred)
MAE = mean_absolute_error(y_valid, y_valid_pred)

print(f'fold {fold} MSE: {MSE} RMSE: {np.sqrt(MSE)} R^2: {r2} MAE: {MAE}')